asgiref==3.9.2
Django==5.2.7
djangorestframework==3.16.1
Markdown==3.9
sqlparse==0.5.3
tzdata==2025.2
asgiref==3.9.2
Django==5.2.7
djangorestframework==3.16.1
Markdown==3.9
sqlparse==0.5.3
tzdata==2025.2
validate_docbr==1.11.1
asgiref==3.9.2
Django==5.2.7
djangorestframework==3.16.1
Faker==37.11.0
Markdown==3.9
sqlparse==0.5.3
tzdata==2025.2
validate_docbr==1.11.1
asgiref==3.9.2
Django==5.2.7
django-filter==25.2
djangorestframework==3.16.1
Faker==37.11.0
Markdown==3.9
sqlparse==0.5.3
tzdata==2025.2
validate_docbr==1.11.1
